:root {
    --blue-ncs: #2e86abff;
    --eggshell: #F8F4E3;
    --oxford-blue: #101d42ff;
    --rich-black-fogra-29: #0d1317ff;
    --dark-moss-green: #3f612dff;
}
h1{
    margin: 0;
    padding: 0;
    color:var(--eggshell);
    text-align: center;
}
h2{
    margin: 0;
    padding: 0;
    color:var(--eggshell);
    text-align: center;
}
.file-input {
    color:var(--eggshell);
    justify-content:center;
    text-align: center;
    margin: auto;
}
body {
  margin: 0;
  padding: 0;
  background: var(--rich-black-fogra-29)
}
.flex-parent {
    display: flex;
    align-items: center;
    }

.jc-center {
    justify-content: center;
}
.block {
    display: block;
    width: 50%;
    border: none;
    background-color: var(--dark-moss-green);
    color: var(--eggshell);
    padding: 10px 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.square {
  width: 80vmin;
  height: 80vmin;
}

.square.center {
  margin-top: calc((100vh - 90vmin)/2);
  margin-left: calc((100vw - 80vmin)/2);
}

.bg {
  background-color: var(--blue-ncs);
  border-style: inset;
  border-radius: 50%;
}
.content
{
  line-height:0.9;
  vertical-align: center;
  text-align:center;
  font-size: 80vmin;
}
